.output-area{
    border: 1px solid #495153;
    display: flex;
    flex-direction: column;
    width: 375px;
    border-radius: 10px;
    padding-inline: 10px;
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}
.current-result-textarea{
    border: none;
    overflow: hidden;
    outline: none;
    resize: none;
    color: #e8eaed;
    font-size:large;
    min-height: 20px;
    line-height: 20px;
    text-align: end;

}
.current-value-textarea{
    border: none;
    overflow: hidden;
    outline: none;
    resize: none;
    color: #e8eaed;
    font-size:24px;
    min-height: 50px;
    line-height: 50px;
    text-align: end;
}